@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container {
  max-width: 133rem !important;
  margin: 0 auto !important;
  padding: 0 2.5rem !important;
}

a{
  text-decoration: none;
}

.mobile-navbar {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: -100%;
  position: fixed;
  top: 0;
  transition: all .5s ease-in-out;
  width: 100%;
  z-index: 999999;
}

.navbar{
  align-items: center;
  background-color: initial;
  display: flex;
  height: auto;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  max-width: 133rem;
  padding: 2.7rem 2rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.navbarlinks{
  display: flex;
  gap: 5rem;
}

li{
  list-style: none;
}

.navbarlinks a{
  color: #010103;
  cursor: pointer;
  font-family: Rubik,sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: all .3s;
}

.navbarlinks a:hover {
  color: #d11d27;
}

.navbarimg{
  width: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #010103;
  font-size: 18px;
}

.navbarimg span{
  font-weight: bold;
}

.navbarimgimg{
  width: 100%;
  height: 100%;
}

.navbarbuttons{
  align-items: center;
  display: flex;
  font-family: Rubik,sans-serif;
  font-size: 16px;
  font-weight: 500;
  gap: 2.5rem;
}

.navbarbuttonsregister{
  background-color: #d11d27;
  border-radius: 3px;
  box-shadow: 0 10px 15px 0 rgba(169,0,17, 0.35);
  color: #fff;
  padding: 1.5rem 3rem;
  transition: all .3s;
}

.navbarbuttonsregister:hover{
  background-color: #a90011;
    box-shadow: 0 10px 15px 0 rgba(169,0,17, 0.5);
}

.navbarbuttonssign-in{
  color: #010103;
  cursor: pointer;
  transition: all .3s;
}
.navbarbuttonssign-in:hover{
  color: #d11d27;
}

.mobile-menu {
  font-size: 28px;
  display: none;
  cursor: pointer;
  transition: all 0.3s;
}

.mobile-menu:hover {
  color: #d11d27;
}



.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #ffffff;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.mobile-navbarclose {
  font-size: 30px;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.mobile-navbarclose:hover {
  color: #d11d27;
}

.mobile-navbarlinks {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 23px;
  gap: 3rem;
  text-align: center;
}

.mobile-navbarlinks li a {
  text-decoration: none;
  color: #010103;
  font-weight: 500;
  transition: all 0.3s;
}

.mobile-navbarlinks li a:hover {
  color: #d11d27;
}

.open-nav {
  left: 0;
}


.hero-section {
  background-color: #f8f8f8;
  height: 97vh;
  position: relative;
  width: 100%;
}

.herobackground {
  position: absolute;
  right: 0;
  top: 25vh;
  z-index: 1;
  max-width: 60%;
}



.hero-content {
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;
}


.hero-content-text {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  max-width: 50rem;
  z-index: 3;
}


.hero-content-text h4 {
  color: #010103;
  font-family: Rubik,sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.hero-content-text h1 {
  color: #010103;
  font-family: Poppins,sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.3rem;
  margin-top: 1rem;
}

.hero-content-text h1 span {
  color: #d11d27;
}

.hero-content-text p {
  color: #706f7b;
  font-family: Rubik,sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.hero-content-text-btns {
  display: flex;
  font-family: Rubik,sans-serif;
  font-size: 16px;
  gap: 2rem;
}



.hero-content-car-img {
  margin-top: 5rem;
  position: absolute;
  right: -2vw;
  width: 64%;
  z-index: 2;
}


.hero-content-text-btns a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}


.hero-content-text-btns-book-ride {
  background-color: #d11d27;
  border: 2px solid #d11d27;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(169,0,17, 0.35);
  padding: 1.8rem 3rem;
  transition: all .3s;
}


.hero-content-text-btns-learn-more {
  background-color: #010103;
  border: 2px solid #010103;
  border-radius: 0.3rem;
  padding: 1.8rem 3rem;
  transition: all .3s;
}

.hero-content-text-btns-book-ride:hover {
  background-color: #a90011;
  box-shadow: 0 10px 15px 0 rgba(169,0,17,.6);
  
}

.hero-content-text-btns-learn-more:hover {
  background-color: initial;
  color: #010103;
}

.scroll-up {
  align-items: center;
  background-color: #d11d27;
  bottom: 5rem;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 2.5rem;
  height: 2rem;
  justify-content: center;
  padding: 2rem;
  position: fixed;
  right: 5rem;
  text-align: center;
  width: 2rem;
  z-index: 20;
  border-radius: 12px;
}

.scroll-up:hover{
  background-color: #a90011;
  box-shadow: 0 5px 10px 0 rgba(169,0,17,.6);
}

.show-scroll {
  display: flex;
}

#booking-section > .container{
  padding: 10rem 2.5rem !important;
}

.book-content-box {
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
  color: #fff;
  color: #010103;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 4rem 4.5rem 5rem 5.5rem;
  position: relative;
  width: 100%;
  z-index: 4;
}

.book-content-box h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.7rem;
}

.book-content-box .box-form {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.book-content-box .box-form b {
  color: #d11d27;
}

.book-content-box .box-form-car-type {
  display: flex;
  flex-direction: column;
}

.book-content-box .box-form-car-type label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.book-content-box .box-form-car-type label i {
  color: #d11d27;
}

.book-content-box .box-form-car-type select {
  background-color: #fff;
  border: 1px solid #ccd7e6;
  border-radius: 3px;
  color: #ababab;
  font-family: Rubik,sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  outline: none;
  padding: 1.2rem 1.3rem;
}

.book-content-box .box-form-car-time {
  display: flex;
  flex-direction: column;
  position: relative;
}

.book-content-box .box-form-car-time input {
  border: 1px solid #ccd7e6;
  color: #878585;
  outline: none;
  padding-right: 3rem;
}

.book-content-box .box-form-car-time label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.book-content-box .box-form-car-time label i {
  color: #d11d27;
}

.book-content-box .box-form-car-time ::-webkit-datetime-edit {
  padding: 1.3rem 1.3rem;
}
.book-content-box .box-form-car-time ::-webkit-calendar-picker-indicator {
  cursor: pointer;
  font-size: 1.6rem;
}
.book-content-box button {
  padding: 1.3rem 1.3rem;
  height: fit-content;
  align-self: self-end;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  background-color: #d11d27;
  box-shadow: 0 10px 15px rgba(169,0,17, 0.35);
  cursor: pointer;
  transition: all 0.3s;
}

.book-content-box button:hover {
  box-shadow: 0 10px 15px rgba(169,0,17,.55);
  background-color: #a90011;
}






.pick-section {
  padding: 5rem 0 10rem;
}

.pick-container {
  display: flex;
  flex-direction: column;
}

.pick-container-title {
  margin: 0 auto;
  text-align: center;
  color: #010103;
  max-width: 50rem;
  margin-bottom: 5rem;
}

.pick-container-title p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: #706f7b;
  line-height: 1.5;
}

.pick-container-title h3 {
  font-size: 2.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.pick-container-title h2 {
  font-size: 4.2rem;
  font-family: "Poppins", sans-serif;
  margin: 0.5rem 0 1rem 0;
}

.pick-container-car-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.pick-box {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.pick-box button {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 1.5rem 4.5rem;
  background-color: #e9e9e9;
  transition: all 0.2s;
  text-align: left;
  color: black;
}

.pick-box button:hover {
  background-color: #d11d27;
  color: white;
}

.pick-car {
  width: 50rem;
  position: relative;
}

.pick-car img {
  width: 100%;
  margin-top: 6rem;
}

.pick-description {
  width: 25rem;
}

.pick-description-price {
  width: 100%;
  background-color: #d11d27;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: white;
  padding: 0.3rem 1.9rem;
  white-space: nowrap;
}

.pick-description-price span {
  font-size: 2.8rem;
  font-weight: 700;
}

.pick-description-table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  font-size: 1.4rem;
}

.pick-description-table-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-template-rows: auto;
  padding: 0.9rem 0.5rem;
  border-bottom: 2px solid #706f7b;
  border-right: 2px solid #706f7b;
  border-left: 2px solid #706f7b;
}

.pick-description-table-col span:nth-child(1) {
  border-right: 2px solid #706f7b;
}

.cta-btn {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #d11d27;
  padding: 1rem 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1.4rem;
  transition: all 0.3s;
  box-shadow: 6px 6px 0 #efe9e9;
}

.cta-btn:hover {
  background-color: #a90011;
}

.box-cars {
  gap: 11rem;
  display: flex;
  justify-content: space-between;
}

.colored-button {
  background-color: #d11d27 !important;
  color: white !important;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(0, 0, 0, 0.2588235294);
  border-bottom-color: #d11d27;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  right: 43%;
}




.testimonials-section {
  background-color: #f8f8f8;
  padding: 5rem 0;
  color: #010103;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
}
.testimonials-content-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 70rem;
  margin-bottom: 5rem;
}
.testimonials-content-title h4 {
  font-size: 2.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.testimonials-content-title h2 {
  font-size: 4.2rem;
  margin-bottom: 1.4rem;
}
.testimonials-content-title p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: #706f7b;
  line-height: 1.4;
}

.all-testimonials {
  display: flex;
  gap: 3rem;
  width: 100%;
  justify-content: center;
  padding: 3rem;
}

.all-testimonials-box {
  background-color: white;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);
  width: 54rem;
  padding: 5.5rem;
  position: relative;
}

.all-testimonials-box p {
  font-size: 2.2rem;
  font-weight: 500;
}
.all-testimonials-box-name {
  display: flex;
}
.all-testimonials-box-name-profile {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 3rem;
}
.all-testimonials-box-name-profile img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.all-testimonials-box-name-profile h4 {
  font-size: 1.8rem;
}
.all-testimonials-box-name-profile p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.quotes-icon {
  font-size: 6.2rem;
  color: #d11d27;
  position: absolute;
  bottom: 33px;
  right: 60px;
}










footer {
  background-color: #ffffff;
  padding: 7.5rem 0;
}

.footer-content {
  display: grid;
  color: #010103;
  grid-template-columns: 27fr 21fr 21fr 21fr;
  gap: 8rem;
  justify-content: center;
  text-align: left;
  color: #010103;
}

.footer-content-1 {
  list-style: none;
}
.footer-content-1 li a {
  text-decoration: none;
  color: #010103;
  transition: all 0.2s;
}
.footer-content-1 li a:hover {
  color: #d11d27;
}
.footer-content-1 li:nth-child(1) {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
.footer-content-1 li:nth-child(1) span {
  font-weight: 700;
  color: #d11d27;
}
.footer-content-1 li:nth-child(2) {
  font-size: 1.6rem;
  color: #706f7b;
  line-height: 1.7;
  margin-bottom: 3rem;
}
.footer-content-1 li:nth-child(3), .footer-content-1 li:nth-child(4) {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer-content-2 {
  list-style: none;
}
.footer-content-2 a {
  text-decoration: none;
  color: #010103;
  transition: all 0.2s;
}
.footer-content-2 a:hover {
  color: #d11d27;
}
.footer-content-2 li {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.footer-content-2 li:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  cursor: auto;
}
.footer-content-2 input {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  background-color: #ececec;
  border-width: 1px;
  border-color: transparent;
  padding: 10px 60px;
  outline: none;
  margin-top: 1rem;
}

.submit-email {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: #d11d27;
  padding: 1.5rem 2.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(169,0,17, 0.25);
  transition: all 0.3s;
  border: 2px solid #d11d27;
  font-size: 1.6rem;
  width: fit-content;
  cursor: pointer;
  width: 100%;
}
.submit-email:hover {
  box-shadow: 0 10px 15px 0 rgba(169,0,17, 0.4);
  background-color: #a90011;
}







.hero-pages {
  width: 100%;
  height: 41rem;
  background-image: url("../public/images/heropagesoverlay.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.hero-pages-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.92);
}
.hero-pages-text {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: relative;
  width: 100%;
  height: 41rem;
  justify-content: center;
  color: #010103;
}
.hero-pages-text h3 {
  font-size: 3.6rem;
  margin-bottom: 0.5rem;
}
.hero-pages-text p {
  font-size: 1.6rem;
  font-weight: 600;
}
.hero-pages-text p a {
  color: #010103;
  text-decoration: none;
  transition: all 0.2s;
}
.hero-pages-text p a:hover {
  color: #d11d27;
}








.about-main {
  margin: 10rem auto;
  display: flex;
  gap: 5rem;
  max-width: 100rem;
  align-items: center;
}
@media (max-width: 960px) {
  .about-main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    max-width: 49rem;
  }
}
@media (max-width: 520px) {
  .about-main {
    max-width: 100%;
  }
}
.about-main-img {
  width: 43rem;
  height: 43rem;
  border-radius: 6px;
}
@media (max-width: 960px) {
  .about-main-img {
    margin: 0 auto;
  }
}
@media (max-width: 520px) {
  .about-main-img {
    width: 100%;
    height: auto;
  }
}
.about-main-text {
  color: #010103;
  display: flex;
  flex-direction: column;
}
.about-main-text h3 {
  font-size: 2.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}
.about-main-text h2 {
  font-size: 4.2rem;
  line-height: 1.2;
}
.about-main-text p {
  font-size: 1.6rem;
  color: #706f7b;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.about-main-text-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}
@media (max-width: 520px) {
  .about-main-text-icons {
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 0;
  }
  .about-main-text-icons p {
    margin-top: 0;
  }
}
.about-main-text-icons-box {
  display: flex;
  flex-direction: column;
}

@media (max-width: 520px) {
  .about-main-text-icons-box {
    align-items: center;
  }
}

.about-main-text-icons-box img {
  width: 7rem;
}
.about-main-text-icons-box span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 520px) {
  .about-main-text-icons-box span {
    text-align: center;
    flex-direction: column;
  }
}
.about-main-text-icons-box span h4 {
  font-size: 4.6rem;
}







.book-banner {
  display: flex;
  width: 100%;
  height: 20rem;
  background-image: url("../public/images/bannerbackground.jpg");
  position: relative;
  margin-top: 7rem;
  background-position-y: 33%;
}
@media (max-width: 750px) {
  .book-banner {
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 0;
  }
}
.book-banner-overlay {
  background-color: #2d2d2d;
  opacity: 0.89;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.text-content {
  color: white;
  z-index: 5;
  position: relative;
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
@media (max-width: 750px) {
  .text-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
}
.text-content h2 {
  font-size: 3.2rem;
}
.text-content span {
  display: flex;
  font-size: 2.7rem;
  gap: 1rem;
  align-items: center;
  color: #d11d27;
  white-space: nowrap;
}




.contact-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 0 auto;
  color: #010103;
  padding: 10rem 2rem;
  /* background-image: url("/src/images/banners/bg-contact.png"); */
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 950px) {
  .contact-div {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.contact-div-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 52rem;
}
@media (max-width: 950px) {
  .contact-div-text {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
.contact-div-text h2 {
  font-size: 4.2rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.contact-div-text p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: #706f7b;
  line-height: 1.6;
  margin-bottom: 2rem;
}
.contact-div-text a {
  text-decoration: none;
  color: #010103;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.2s;
  margin-bottom: 0.5rem;
}
.contact-div-text a:hover {
  color: #d11d27;
}
.contact-div-form {
  display: flex;
  flex-direction: column;
}
.contact-div-form form {
  display: flex;
  flex-direction: column;
}
.contact-div-form form label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-div-form form label b {
  color: #d11d27;
}
.contact-div-form form input {
  background-color: #f2f2f2;
  padding: 19px 30px 19px 30px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin-bottom: 2.3rem;
}
.contact-div-form form textarea {
  background-color: #f2f2f2;
  height: 18rem;
  padding: 19px 30px 19px 30px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin-bottom: 2.5rem;
  font-family: inherit;
}
.contact-div-form form button {
  background-color: #d11d27;
  padding: 1.8rem 3rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(169,0,17, 0.35);
  transition: all 0.3s;
  border: 2px solid #d11d27;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
.contact-div-form form button:hover {
  box-shadow: 0 10px 15px 0 rgba(169,0,17, 0.6);
  background-color: #a90011;
}










@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .box-cars {
    gap: 2rem;
  }
  .hero-content-car-img {
    margin-top: 5rem;
    position: absolute;
    right: -2vw;
    width: 45vw;
    z-index: 2;
  }
  .herobackground {
    width: 45vw;
  }
}

@media (max-width: 1100px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
  .footer-content-2 input {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .pick-container-car-content {
    flex-direction: column;
    gap: 5rem;
  }
}

@media (max-width: 1000px) {
  .mobile-menu {
    display: flex;
  }
  .navbarlinks,.navbarbuttons {
    display: none;
  }
  .book-content-box .box-form {
    grid-template-columns: 1fr 1fr;
  }
  .all-testimonials-box {
    padding: 5rem 3rem;
  }
  .all-testimonials {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .box-2 {
    display: none;
  }
}

@media (max-width: 800px) {
  .herobackground {
    display: none;
  }
  .hero-content-car-img {
    display: none;
  }
  .hero-content-text {
    text-align: center;
    align-items: center;
  }
  .hero-content {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .box-cars {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .pick-car {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
  .footer-content-1 {
    text-align: center;
  }
  .footer-content-2 {
    text-align: center;
  }
}

@media (max-width: 630px) {
  .book-content-box .box-form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 470px) {
  .quotes-icon {
    display: none;
  }
  .pick-car img {
    width: 100%;
    margin-top: 0rem;
  }
#booking-section > .container {
  padding: 0rem 2.5rem 5rem !important;
}
}

@media (max-width: 450px) {
  .hero-content-text-btns {
    flex-direction: column;
  }
  .hero-content-text-btns-book-ride {
    padding: 1.8rem 8rem;
  }
}

@media (max-width: 400px) {
  .book-content-box {
    padding: 4rem 2.5rem 5rem 2.5rem;
  }
}