@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container {
  max-width: 133rem !important;
  margin: 0 auto !important;
  padding: 0 2.5rem !important;
}

a{
  text-decoration: none;
}

.mobile-navbar {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: -100%;
  position: fixed;
  top: 0;
  transition: all .5s ease-in-out;
  width: 100%;
  z-index: 999999;
}

.navbar{
  align-items: center;
  background-color: initial;
  display: flex;
  height: auto;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  max-width: 133rem;
  padding: 2.7rem 2rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.navbarlinks{
  display: flex;
  gap: 2.1rem;
}

li{
  list-style: none;
}

.navbarlinks a{
  color: #010103;
  cursor: pointer;
  font-family: Rubik,sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: all .3s;
}

.navbarlinks a:hover {
  color: #ffd100;
}

.navbarimg{
  width: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #010103;
  font-size: 18px;
}

.navbarimg span{
  font-weight: bold;
}

.navbarimgimg{
  width: 100%;
  height: 100%;
}

.navbarbuttons{
  align-items: center;
  display: flex;
  font-family: Rubik,sans-serif;
  font-size: 16px;
  font-weight: 500;
  gap: 2.5rem;
}

.navbarbuttonsregister{
  background-color: #ffd100;
  border-radius: 3px;
  box-shadow: 0 10px 15px 0 rgba(248, 232, 0, 0.35);
  color: #fff;
  padding: 1.5rem 3rem;
  transition: all .3s;
}

.navbarbuttonsregister:hover{
  background-color: #f7c900;
    box-shadow: 0 10px 15px 0 rgba(230, 214, 0, 0.5);
}

.navbarbuttonssign-in{
  color: #010103;
  cursor: pointer;
  transition: all .3s;
}
.navbarbuttonssign-in:hover{
  color: #ffd100;
}

.mobile-menu {
  font-size: 28px;
  display: none;
  cursor: pointer;
  transition: all 0.3s;
}

.mobile-menu:hover {
  color: #ffd100;
}



.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #ffffff;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.mobile-navbarclose {
  font-size: 30px;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.mobile-navbarclose:hover {
  color: #ffd100;
}

.mobile-navbarlinks {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 23px;
  gap: 3rem;
  text-align: center;
}

.mobile-navbarlinks li a {
  text-decoration: none;
  color: #010103;
  font-weight: 500;
  transition: all 0.3s;
}

.mobile-navbarlinks li a:hover {
  color: #ffd100;
}

.open-nav {
  left: 0;
}


.hero-section {
  background-color: #f8f8f8;
  height: 97vh;
  position: relative;
  width: 100%;
}

.herobackground {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}



.hero-content {
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;
}


.hero-content-text {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  max-width: 50rem;
  z-index: 3;
}


.hero-content-text h4 {
  color: #010103;
  font-family: Rubik,sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.hero-content-text h1 {
  color: #010103;
  font-family: Poppins,sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.3rem;
  margin-top: 1rem;
}

.hero-content-text h1 span {
  color: #ffd100;
}

.hero-content-text p {
  color: #706f7b;
  font-family: Rubik,sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.hero-content-text-btns {
  display: flex;
  font-family: Rubik,sans-serif;
  font-size: 16px;
  gap: 2rem;
}



.hero-content-car-img {
  margin-top: 5rem;
  position: absolute;
  right: 0;
  width: 65%;
  z-index: 2;
}


.hero-content-text-btns a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}


.hero-content-text-btns-book-ride {
  background-color: #ffd100;
  border: 2px solid #ffd100;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(248, 232, 0, 0.35);
  padding: 1.8rem 3rem;
  transition: all .3s;
}


.hero-content-text-btns-learn-more {
  background-color: #010103;
  border: 2px solid #010103;
  border-radius: 0.3rem;
  padding: 1.8rem 3rem;
  transition: all .3s;
}

.hero-content-text-btns-book-ride:hover {
  background-color: #f7c900;
  box-shadow: 0 10px 15px 0 rgba(230, 214, 0,.6);
}

.hero-content-text-btns-learn-more:hover {
  background-color: initial;
  color: #010103;
}

.scroll-up {
  align-items: center;
  background-color: #ffd100;
  border: 3px solid #fff;
  bottom: 5rem;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 2.5rem;
  height: 2rem;
  justify-content: center;
  padding: 2rem;
  position: fixed;
  right: 5rem;
  text-align: center;
  width: 2rem;
  z-index: 20;
}

.show-scroll {
  display: flex;
}

.book-content {
  margin: 0 auto 10rem;
}

.book-content-box {
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
  color: #fff;
  color: #010103;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 4rem 4.5rem 5rem 5.5rem;
  position: relative;
  width: 100%;
  z-index: 4;
}

.book-content-box h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.7rem;
}

.book-content-box .box-form {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.book-content-box .box-form b {
  color: #ffd100;
}

.book-content-box .box-form-car-type {
  display: flex;
  flex-direction: column;
}

.book-content-box .box-form-car-type label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.book-content-box .box-form-car-type label i {
  color: #ffd100;
}

.book-content-box .box-form-car-type select {
  background-color: #fff;
  border: 1px solid #ccd7e6;
  border-radius: 3px;
  color: #ababab;
  font-family: Rubik,sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  outline: none;
  padding: 1.2rem 1.3rem;
}

.book-content-box .box-form-car-time {
  display: flex;
  flex-direction: column;
  position: relative;
}

.book-content-box .box-form-car-time input {
  border: 1px solid #ccd7e6;
  color: #878585;
  outline: none;
  padding-right: 3rem;
}

.book-content-box .box-form-car-time label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.book-content-box .box-form-car-time label i {
  color: #ffd100;
}

.book-content-box .box-form-car-time ::-webkit-datetime-edit {
  padding: 1.3rem 1.3rem;
}
.book-content-box .box-form-car-time ::-webkit-calendar-picker-indicator {
  cursor: pointer;
  font-size: 1.6rem;
}
.book-content-box button {
  padding: 1.3rem 1.3rem;
  height: fit-content;
  align-self: self-end;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  background-color: #ffd100;
  box-shadow: 0 10px 15px rgba(248, 232, 0, 0.35);
  cursor: pointer;
  transition: all 0.3s;
}

.book-content-box button:hover {
  box-shadow: 0 10px 15px rgba(230, 214, 0,.55);
}



footer {
  background-color: #ffffff;
  padding: 10rem 0;
}

.footer-content {
  display: grid;
  color: #010103;
  grid-template-columns: 27fr 21fr 21fr 21fr;
  gap: 8rem;
  justify-content: center;
  text-align: left;
  color: #010103;
}

.footer-content-1 {
  list-style: none;
}
.footer-content-1 li a {
  text-decoration: none;
  color: #010103;
  transition: all 0.2s;
}
.footer-content-1 li a:hover {
  color: #ffd100;
}
.footer-content-1 li:nth-child(1) {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
.footer-content-1 li:nth-child(1) span {
  font-weight: 700;
}
.footer-content-1 li:nth-child(2) {
  font-size: 1.6rem;
  color: #706f7b;
  line-height: 1.7;
  margin-bottom: 3rem;
}
.footer-content-1 li:nth-child(3), .footer-content-1 li:nth-child(4) {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer-content-2 {
  list-style: none;
}
.footer-content-2 a {
  text-decoration: none;
  color: #010103;
  transition: all 0.2s;
}
.footer-content-2 a:hover {
  color: #ffd100;
}
.footer-content-2 li {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.footer-content-2 li:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  cursor: auto;
}
.footer-content-2 input {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  background-color: #ececec;
  border-width: 1px;
  border-color: transparent;
  padding: 10px 60px;
  outline: none;
  margin-top: 1rem;
}

.submit-email {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: #ffd100;
  padding: 1.5rem 2.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(248, 232, 0, 0.25);
  transition: all 0.3s;
  border: 2px solid #ffd100;
  font-size: 1.6rem;
  width: fit-content;
  cursor: pointer;
  width: 100%;
}
.submit-email:hover {
  box-shadow: 0 10px 15px 0 rgba(248, 232, 0, 0.4);
  background-color: #ffd100;
}

@media (max-width: 1100px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
  .footer-content-2 input {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .mobile-menu {
    display: flex;
  }
  .navbarlinks,.navbarbuttons {
    display: none;
  }
  .book-content-box .box-form {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .herobackground {
    display: none;
  }
  .hero-content-car-img {
    display: none;
  }
  .hero-content-text {
    text-align: center;
    align-items: center;
  }
  .hero-content {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
  .footer-content-1 {
    text-align: center;
  }
  .footer-content-2 {
    text-align: center;
  }
}

@media (max-width: 630px) {
  .book-content-box .box-form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .hero-content-text-btns {
    flex-direction: column;
  }
  .hero-content-text-btns-book-ride {
    padding: 1.8rem 8rem;
  }
}

@media (max-width: 400px) {
  .book-content-box {
    padding: 4rem 2.5rem 5rem 2.5rem;
  }
}